:root {
    background-color: black;
    font-family: 'gg sans Normal Regular';
    /* Colours for determining account activity status */
    --account-note: #cd9ced;                    /* For adding little notes/comments about accounts/projects */
    --fully-active: #a1ed9c;                    /* Fully Active. Used fairly regularly. */
    --semi-active: #9cedc7;                     /* Semi-Active. Used, just not focused on. */
    --semi-inactive: #edd19c;                   /* Semi-Inactive. Still used on the off-chance. */
    --fully-inactive: #ed9c9c;                  /* Fully Inactive. Odds of being used slim-to-none. */
    --fully-archived: #f03e3e;                  /* Archived projects/accounts. Unlikely to be revisted. */
    --account-automated: #ed9cd2;               /* Accounts automated. */
    --account-automated-third-party: #b55b97;   /* Accounts automated by third-parties. IE: YouTube Topic channels. */
    --account-private: #9228b3;                 /* Somewhat Public Private Stuff??? */
}

.header {
    background-image: url("http://lylythii.com/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(106, 0, 255);
    border-radius: 0rem;
    background-size: 125%;
    text-align: center;
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(106, 0, 255);
    border-radius: 0rem;
}
.active, .collapsible:hover {
    background-color: rgb(20, 20, 20);
}
.content {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
    text-align: center;
    background-color: rgb(20, 20, 20);
    background-color: rgb(80, 80, 80);
    background-color: rgb(0, 0, 0);
}
